body{
    background-color: #5c452d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-align: center;
}

h1{
    font-family: Impact, sans-serif;
    font-weight: normal;
    font-size: 60px;

}

#shrek-image{
    max-height: 500px;
}


#shrek-tribute{
    background-color: #e1dfb6;
    padding: 10px;
    margin: 50px 100px 0px 100px;
    max-width: 1377px;
}

.shrek-synopsis{
padding: 0px 10px 0px 10px;
display: flex;
flex-wrap: wrap;

}

#shrek-movies ul{
    list-style: none;
}

.more-info a{
    text-decoration: none;
}

.more-info a:hover{
    color: #7a9244;
    cursor: pointer;
}

footer{
    content: "/00a9";
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 5px;
}